@font-face {
  font-family: Norse-Font;
  src: url(Norse-font/Norse/Norse.ttf);
}

body {
    display: flex;
    flex: 2.3;
    min-height: 100vh;
    gap: 2rem;
}

.left-section {
    display: flex;
}

.background-img {
    display: flex;
    margin: -1rem;
}

.Odin-img {
    display: flex ;
    position: absolute;
    top: 10rem;
    left: 0rem;
    background-color: black;
    opacity: 80%;
    padding: 0.5rem 5.3rem 0.5rem 5.3rem;
}


.image-text  {
    display: flex;
    font-family: Norse-Font;
    background-color: black;
    color: white;
    font-size: 6rem;
}