@font-face {
  font-family: Norse-Font;
  src: url(Norse-font/Norse/Norse.ttf);
}

.Odin-img {
    display: flex;
    position: absolute;
    align-items: center;
    left: 0.5rem;
    top: 8rem;
    background-color: black;
    opacity: 90%;
    padding: 0.8rem;
}


.image-text  {
    display: flex;
    font-family: Norse-Font;
    background-color: black;
    color: white;
    font-size: 6rem;
}

.main-content {
    display: block;
    position: absolute;
    top:2rem;
    left: 20rem;
}

.Form {
    display: block;
    position: absolute;
    top:15rem;
    left: 20rem;
}

.button {
   display: block;
    position: absolute;
    top:32rem;
    left: 20rem; 
}